<div class="row" style="margin-top: 10px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Upload scratch gift here</h4>
                <p class="sub-header">
                    Fill the fields with following the instructions
                </p>
                <form action="/admin/add-scratch-gift" method="POST" enctype="multipart/form-data">
                    <div class="dropdown" data-control="checkbox-dropdown">
                        <label class="dropdown-label">Select</label>

                        <div class="dropdown-list">
                            <a href="#" data-toggle="check-all" class="dropdown-option">
                                Check All
                            </a>
                            {{#each offerNames}}
                            <label class="dropdown-option">
                                <input type="checkbox" name="offerIdArray" value="{{_id}}" checked />
                                {{name}}
                            </label>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-12 mt-3" style="border: 2px dotted #ccc; padding: 15px;">
                        <label for="fileInput" class="btn btn-primary d-block mx-auto">
                            <i class="fa-solid fa-file-arrow-up"></i>
                            <span>Choose File</span>
                            <input type="file" id="fileInput" style="display:none;" name="file" accept="image/*"
                                onchange="displayImage()" />
                        </label>
                        <p class="text-muted text-center mt-2 mb-0">Max File size</p>
                        <h3 class="text-center">Drop files here or click to upload.</h3>
                        <span class="text-muted font-13">(width: 000 px, height: 000 px)</span>
                    </div>

                    <div id="imagePreview" class="text-center mt-3">
                        <!-- The selected image will be displayed here -->
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Win Message</label>
                        <textarea class="form-control" id="example-textarea" rows="3" name="message"
                            placeholder="Max 70 characters"></textarea>
                    </div>

                    <button type="submit" class="btn btn-md btn-pink waves-effect waves-light"><span><i
                                class="fa-solid fa-floppy-disk"></i></span> Save</button>
                </form>
                <!-- Preview -->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div><!-- end col -->
</div>

<style>
    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    .dropdown {
        position: relative;
        font-size: 14px;
        color: #333;

        .dropdown-list {
            padding: 12px;
            background: #fff;
            position: absolute;
            top: 30px;
            left: 2px;
            right: 2px;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
            transform-origin: 50% 0;
            transform: scale(1, 0);
            transition: transform .15s ease-in-out .15s;
            max-height: 66vh;
            overflow-y: scroll;
            max-height: 300px;
            z-index: 5;
        }

        .dropdown-option {
            display: block;
            padding: 8px 12px;
            opacity: 0;
            transition: opacity .15s ease-in-out;
        }

        .dropdown-label {
            display: block;
            height: 30px;
            background: #fff;
            border: 1px solid #ccc;
            padding: 6px 12px;
            line-height: 1;
            cursor: pointer;

            &:before {
                content: '▼';
                float: right;
            }
        }

        &.on {
            .dropdown-list {
                transform: scale(1, 1);
                transition-delay: 0s;

                .dropdown-option {
                    opacity: 1;
                    transition-delay: .2s;
                }
            }

            .dropdown-label:before {
                content: '▲';
            }
        }

        [type="checkbox"] {
            position: relative;
            top: -1px;
            margin-right: 4px;
        }
    }
</style>

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

<script>
    function displayImage() {
        const fileInput = document.getElementById('fileInput');
        const imagePreview = document.getElementById('imagePreview');
        const file = fileInput.files[0];

        if (file) {
            if (file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = new Image();
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.maxHeight = '300px'; // Adjust the maximum height as needed
                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(img);
                };

                reader.readAsDataURL(file);
            } else {
                alert('Please select an image file.');
                fileInput.value = ''; // Reset the file input
                imagePreview.innerHTML = ''; // Clear the image preview
            }
        }
    }
</script>

<script>
    (function ($) {
        var CheckboxDropdown = function (el) {
            var _this = this;
            this.isOpen = false;
            this.areAllChecked = false;
            this.$el = $(el);
            this.$label = this.$el.find('.dropdown-label');
            this.$checkAll = this.$el.find('[data-toggle="check-all"]').first();
            this.$inputs = this.$el.find('[type="checkbox"]');

            this.onCheckBox();

            this.$label.on('click', function (e) {
                e.preventDefault();
                _this.toggleOpen();
            });

            this.$checkAll.on('click', function (e) {
                e.preventDefault();
                _this.onCheckAll();
            });

            this.$inputs.on('change', function (e) {
                _this.onCheckBox();
            });
        };

        CheckboxDropdown.prototype.onCheckBox = function () {
            this.updateStatus();
        };

        CheckboxDropdown.prototype.updateStatus = function () {
            var checked = this.$el.find(':checked');

            this.areAllChecked = false;
            this.$checkAll.html('Check All');

            if (checked.length <= 0) {
                this.$label.html('Select Options');
            }
            else if (checked.length === 1) {
                this.$label.html(checked.parent('label').text());
            }
            else if (checked.length === this.$inputs.length) {
                this.$label.html('All Selected');
                this.areAllChecked = true;
                this.$checkAll.html('Uncheck All');
            }
            else {
                this.$label.html(checked.length + ' Selected');
            }
        };

        CheckboxDropdown.prototype.onCheckAll = function (checkAll) {
            if (!this.areAllChecked || checkAll) {
                this.areAllChecked = true;
                this.$checkAll.html('Uncheck All');
                this.$inputs.prop('checked', true);
            }
            else {
                this.areAllChecked = false;
                this.$checkAll.html('Check All');
                this.$inputs.prop('checked', false);
            }

            this.updateStatus();
        };

        CheckboxDropdown.prototype.toggleOpen = function (forceOpen) {
            var _this = this;

            if (!this.isOpen || forceOpen) {
                this.isOpen = true;
                this.$el.addClass('on');
                $(document).on('click', function (e) {
                    if (!$(e.target).closest('[data-control]').length) {
                        _this.toggleOpen();
                    }
                });
            }
            else {
                this.isOpen = false;
                this.$el.removeClass('on');
                $(document).off('click');
            }
        };

        var checkboxesDropdowns = document.querySelectorAll('[data-control="checkbox-dropdown"]');
        for (var i = 0, length = checkboxesDropdowns.length; i < length; i++) {
            new CheckboxDropdown(checkboxesDropdowns[i]);
        }
    })(jQuery);
</script>