<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Basic Data Table</h4>
                    <a href="/admin/add-offers" class="btn btn-success waves-effect waves-light">
                        <span class="btn-label"><i class="fa-solid fa-plus"></i></span>Add New
                    </a>
                    </p>

                    <!-- Assuming you have included the necessary layout and header/footer -->

                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Poster</th>
                                <th>Description</th>
                                <th>Availability</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          <td>1111</td>
                          <td>1111</td>
                          <td>1111</td>
                          <td>1111</td>
                          <td>1111</td>
                          <td>1111</td>
                          <td>1111</td>
                        </tbody>
                    </table>

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div><!-- end col-->
        <!-- end col -->
    </div>
    <!-- end row -->
</div>