<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">  
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="dropdown float-end">
            <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <!-- item-->
              <a href="#" class="dropdown-item">Download Report</a>
            </div>
          </div>

          <h4 class="header-title mb-3">Users logged in Study Discount</h4>

          <div class="table-responsive">
            <table class="table table-borderless table-hover table-nowrap table-centered m-0">
              <thead class="table-light">
                <tr>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {{#each users}}
                <tr>
                  <td>
                    {{username}}
                  </td>
                  <td>
                    {{email}}
                  </td>
                  <td>
                    <a href="javascript: void(0);" class="btn btn-xs btn-light"><i
                        class="fa-solid fa-pencil"></i></i></a>
                    <a href="javascript: void(0);" class="btn btn-xs btn-danger"><i class="fa-solid fa-trash"></i></a>
                  </td>
                </tr>
                {{else}}
                <tr>
                  <td colspan="6">No FAQs available.</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

</div>