<!-- main of the page -->
<main id="main">
  <!-- banner of the page -->
  <section
    class="banner banner3 bg-full overlay"
    style="background-image: url(/user/images/img30.jpg);"
  >
    <div class="holder">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- abt sec of the page -->
  <section class="abt-sec container pad-top-lg pad-bottom-lg">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="img-holder">
          <img
            src="/user/images/img31.jpg"
            alt="image description"
            class="img-responsive"
          />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="abt-txt">
          <strong class="title text-uppercase">Who We are</strong>
          <h3 class="heading">About Our Coupmy</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo.</p>
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam
            corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
            consequatur Quis autem vel eum iure reprehenderit qui in ea
            voluptate velit esse quam nihil molestiae consequatur, vel illum qui
            dolorem eum fugiat quo voluptas nulla pariatur</p>
          <a
            href="contact.html"
            class="btn-primary text-center text-uppercase md-round"
          >Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- service sec of the page -->
  <section class="service-sec style2 container pad-bottom-md">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- service of the page -->
        <div class="service mar-bottom-xs">
          <span class="icon"><i class="icon-responsive"></i></span>
          <h3 class="heading5">Free Mobile App</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laud.</p>
          <a href="#" class="read-more text-uppercase">Learn More</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- service of the page -->
        <div class="service mar-bottom-xs">
          <span class="icon"><i class="icon-reload"></i></span>
          <h3 class="heading5">100% Cashback</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laud.</p>
          <a href="#" class="read-more text-uppercase">Learn More</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- service of the page -->
        <div class="service mar-bottom-xs">
          <span class="icon"><i class="icon-comments"></i></span>
          <h3 class="heading5">Excellent Support</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laud.</p>
          <a href="#" class="read-more text-uppercase">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- counter sec of the page -->
  <section
    class="counter-sec bg-full overlay pad-top-sm pad-bottom-xs"
    style="background-image: url(/user/images/img24.jpg);"
  >
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 text-center mar-bottom-xs">
          <span class="icon"><i class="icon-user2"></i></span>
          <strong class="counter">300</strong>
          <span class="sub-title">Users Registered</span>
        </div>
        <div class="col-xs-6 col-sm-3 text-center mar-bottom-xs">
          <span class="icon"><i class="icon-scissors"></i></span>
          <strong class="counter">2900</strong>
          <span class="sub-title">Coupons Used Last Month</span>
        </div>
        <div class="col-xs-6 col-sm-3 text-center mar-bottom-xs">
          <span class="icon"><i class="icon-add"></i></span>
          <strong class="counter">150</strong>
          <span class="sub-title">Coupons Added</span>
        </div>
        <div class="col-xs-6 col-sm-3 text-center mar-bottom-xs">
          <span class="icon"><i class="icon-store"></i></span>
          <strong class="counter">3500</strong>
          <span class="sub-title">Stores In Coupay</span>
        </div>
      </div>
    </div>
  </section>
  <!-- brand sec of the page -->
  <section class="brand-sec container pad-top-lg pad-bottom-md">
    <div class="row">
      <header class="col-xs-12 header text-center">
        <h2 class="heading">Our Trusted Brands</h2>
      </header>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled brand-list">
          <li><a href="#"><img
                src="/user/images/logo17.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo18.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo19.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo20.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo21.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo22.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo23.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo24.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo25.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
          <li><a href="#"><img
                src="/user/images/logo26.png"
                alt="LOGO"
                class="img-responsive"
              /></a></li>
        </ul>
      </div>
    </div>
  </section>
</main>
<!-- main of the page end -->