<!-- main of the page -->
<main id="main">
  <!-- banner of the page -->
  <section class="banner banner3 bg-full overlay" style="background-image: url(/main-images/study-discount-about-us.jpg);">
    <div class="holder">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- abt sec of the page -->
  <section class="abt-sec container pad-top-lg pad-bottom-lg">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="img-holder">
          <img src="/main-images/study-discount-about2.jpg" alt="images" class="img-responsive" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="abt-txt">
          <strong class="title text-uppercase">Who We are</strong>
          <h3 class="heading">About Our Study Courses and Discounts Platform</h3>
          <p>Welcome to the world of accessible learning and affordable education. We are dedicated to making quality
            education within everyone's reach. In a landscape where the cost of education continues to rise, we're
            committed to ensuring that learning is both enriching and budget-friendly.</p>
          <p>Our vision is straightforward: we aim to create a platform where individuals can easily discover a wide
            array of courses, programs, and educational resources at discounted rates. We envision a future where
            financial constraints no longer stand in the way of personal and professional growth.</p>
          <a href="/contact" class="btn-primary text-center text-uppercase md-round">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- service sec of the page -->
  <section class="service-sec style2 container pad-bottom-md">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- service of the page -->
        <div class="service mar-bottom-xs">
          <span class="icon"><i class="fa-solid fa-book-open"></i></span>
          <h3 class="heading5">Course Discounts</h3>
          <p>We diligently seek out discounts, scholarships, and promotions from educational institutions and online learning platforms. We compile these opportunities into a single, user-friendly platform.</p>
          <a href="#" class="read-more text-uppercase">Learn More</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- service of the page -->
        <div class="service mar-bottom-xs">
          <span class="icon"><i class="fa-solid fa-globe"></i></span>
          <h3 class="heading5">Educational Resources</h3>
          <p>Beyond discounts, we provide valuable educational resources, including study tips, career guidance, and advice to help you choose the right courses to meet your goals.</p>
          <a href="#" class="read-more text-uppercase">Learn More</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- service of the page -->
        <div class="service mar-bottom-xs">
          <span class="icon"><i class="fa-solid fa-tower-cell"></i></span>
          <h3 class="heading5">Community Support</h3>
          <p> Our platform fosters a supportive community of learners who willingly share their experiences, recommendations, and success stories. Join our community to connect with like-minded individuals on their educational journeys.</p>
          <a href="#" class="read-more text-uppercase">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- brand sec of the page -->
  <section class="brand-sec container pad-top-lg pad-bottom-md">
    <div class="row">
      <header class="col-xs-12 header text-center">
        <h2 class="heading">Our Trusted Brands</h2>
      </header>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled brand-list">
          <li><a href="https://avisworldwide.com/" target="_blank"><img src="/logos/Avis-Final-Logo.png" alt="LOGO"
                class="img-responsive"></a></li>
          <li><a href="https://bitc.edu.sg/" target="_blank"><img src="/logos/bitc-logo.png" alt="LOGO"
                class="img-responsive"></a></li>
          <li><a href="https://bakingandpastryinstitute.com/" target="_blank"><img
                src="/logos/the-baking-pastry-institute.png" alt="LOGO" class="img-responsive"></a></li>
          <li><a href="https://superiodigital.com/" target="_blank"><img src="/logos/superio-logo.png" alt="LOGO"
                class="img-responsive"></a></li>
          <li><a href="https://www.acetek.edu.sg/" target="_blank"><img src="/logos/Acetek_logo_rectangle.jpeg"
                alt="LOGO" class="img-responsive"></a></li>
        </ul>
      </div>
    </div>
  </section>
</main>
<!-- main of the page end -->