<!-- main of the page -->
<main id="main">
    <!-- banner of the page -->
    <section class="banner banner3 bg-full overlay" style="background-image: url(/user/images//img30.jpg);">
        <div class="holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>Blog Single</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- twocolumns of the page -->
    <div class="twocolumns pad-top-lg pad-bottom-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- content of the page -->
                    <article id="content">
                        <!-- post detail of the page -->
                        <div class="post-detail">
                            <div class="img-holder">
                                <img src="/user/images//img54.jpg" alt="image description" class="img-responsive">
                            </div>
                            <div class="txt-holder">
                                <ul class="list-unstyled social-network">
                                    <li>Share</li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <h4 class="heading3">Sed ut perspiciatis unde omnis iste natus error voluptatem</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                                <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                                    quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                                    sed quia non numquam eius modi tempora incidunt ut labore.</p>
                                <blockquote class="quote">
                                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris.</q>
                                </blockquote>
                                <p>Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                                    quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                                    corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
                                <h4 class="heading3">Nemo enim ipsam voluptatem quia voluptas sit </h4>
                                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                                    laboriosam, nisi ut aliquid ex ea commodi consequatur uis autem vel eum iure
                                    reprehenderit qui in ea voluptate velit esse quam nihil molestiae .</p>
                                <div class="img-holder2">
                                    <img src="/user/images//img55.jpg" alt="image description" class="img-responsive">
                                </div>
                                <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.</p>
                                <ul class="list-unstyled tags-list text-uppercase">
                                    <li><a href="#">Tags</a></li>
                                    <li><a href="#">Coupons</a></li>
                                    <li><a href="#">Discount</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Comments block of the page -->
                        <div class="comments-block">
                            <h4 class="heading2">Comments</h4>
                            <article class="commment-area">
                                <a href="#" class="img"><img src="/user/images//img56.jpg" alt="image description"
                                        class="img-responsive"></a>
                                <div class="txt-holder">
                                    <div class="header">
                                        <h3><a href="#">Micheal</a></h3>
                                        <time datetime="2018-01-01">Sep 13, 2018</time>
                                    </div>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus doloremque
                                        laudantium totam rem aperiam eaque ipsa quae ab illo inventore verit.</p>
                                </div>
                            </article>
                            <!-- comment one level of the page -->
                            <div class="commment-onelevel">
                                <article class="commment-area">
                                    <a href="#" class="img"><img src="/user/images//img57.jpg" alt="image description"
                                            class="img-responsive"></a>
                                    <div class="txt-holder">
                                        <div class="header">
                                            <h3><a href="#">David</a></h3>
                                            <time datetime="2018-01-01">Sep 13, 2018</time>
                                        </div>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus
                                            doloremque laudantium totam rem aperiam eaque.</p>
                                    </div>
                                </article>
                            </div>
                            <!-- comment area of the page -->
                            <article class="commment-area">
                                <a href="#" class="img"><img src="/user/images//img58.jpg" alt="image description"
                                        class="img-responsive"></a>
                                <div class="txt-holder">
                                    <div class="header">
                                        <h3><a href="#">Whity</a></h3>
                                        <time datetime="2018-01-01">Sep 12, 2018</time>
                                    </div>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus doloremque
                                        laudantium totam rem aperiam eaque ipsa quae ab illo inventore verit.</p>
                                </div>
                            </article>
                        </div>
                        <!-- Comments form of the page -->
                        <div class="comments-form">
                            <h4 class="heading2">Leave Your Comments</h4>
                            <form action="#" class="leave-form">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Your Name *">
                                        </div>
                                        <div class="col">
                                            <input type="email" class="form-control" placeholder="Email Address *">
                                        </div>
                                    </div>
                                    <textarea placeholder="Your Comment *"></textarea>
                                    <button type="submit" class="btn-primary text-center text-uppercase">Post
                                        Comment</button>
                                </fieldset>
                            </form>
                        </div>
                    </article>
                    <!-- sidebar of the page -->
                    <aside id="sidebar">
                        <!-- Widget of the page -->
                        <section class="widget search-widget">
                            <form action="#" class="search-form">
                                <fieldset>
                                    <input type="search" class="form-control" placeholder="Enter Keyword">
                                    <button type="submit" class="sub-btn text-center text-uppercase">GO</button>
                                </fieldset>
                            </form>
                        </section>
                        <!-- Widget of the page -->
                        <section class="widget category-widget">
                            <h3 class="heading4">Blog Categories</h3>
                            <ul class="list-unstyled category-list">
                                <li><a href="#"><span class="pull-left">All Categories</span><span
                                            class="pull-right">(10)</span></a></li>
                                <li><a href="#"><span class="pull-left">Beauty</span><span
                                            class="pull-right">(07)</span></a></li>
                                <li><a href="#"><span class="pull-left">Health</span><span
                                            class="pull-right">(15)</span></a></li>
                                <li><a href="#"><span class="pull-left">Fitness</span><span
                                            class="pull-right">(13)</span></a></li>
                                <li><a href="#"><span class="pull-left">Watches</span><span
                                            class="pull-right">(05)</span></a></li>
                            </ul>
                        </section>
                        <!-- Widget of the page -->
                        <section class="widget popular-widget">
                            <h3 class="heading4">Popular Stores</h3>
                            <ul class="list-unstyled popular-list">
                                <li><a href="#"><img src="/user/images//img40.jpg" alt="image description"
                                            class="img-responsive"></a></li>
                                <li><a href="#"><img src="/user/images//img41.jpg" alt="image description"
                                            class="img-responsive"></a></li>
                                <li><a href="#"><img src="/user/images//img42.jpg" alt="image description"
                                            class="img-responsive"></a></li>
                                <li><a href="#"><img src="/user/images//img43.jpg" alt="image description"
                                            class="img-responsive"></a></li>
                                <li><a href="#"><img src="/user/images//img44.jpg" alt="image description"
                                            class="img-responsive"></a></li>
                                <li><a href="#"><img src="/user/images//img45.jpg" alt="image description"
                                            class="img-responsive"></a></li>
                                <li><a href="#" class="text-uppercase">View All Stores</a></li>
                            </ul>
                        </section>
                        <!-- Widget of the page -->
                        <section class="widget news-widget">
                            <h3 class="heading4">Latest News</h3>
                            <ul class="list-unstyled latest-news-list">
                                <li>
                                    <div class="img-holder round">
                                        <a href="#"><img src="/user/images//img46.jpg" alt="image description"
                                                class="img-responsive"></a>
                                    </div>
                                    <div class="txt-holder">
                                        <h3><a href="#">Veritatis Euas Arch Beatae Vitae</a></h3>
                                        <ul class="list-unstyled news-nav">
                                            <li>By <a href="#">Admin</a></li>
                                            <li>|</li>
                                            <li><time datetime="2017-02-03 20:00">Sep 07, 2017</time></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder round">
                                        <a href="#"><img src="/user/images//img47.jpg" alt="image description"
                                                class="img-responsive"></a>
                                    </div>
                                    <div class="txt-holder">
                                        <h3><a href="#">Numquam Eius Modi Tempora Incid</a></h3>
                                        <ul class="list-unstyled news-nav">
                                            <li>By <a href="#">Admin</a></li>
                                            <li>|</li>
                                            <li><time datetime="2017-02-03 20:00">Sep 07, 2017</time></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div class="img-holder round">
                                        <a href="#"><img src="/user/images//img48.jpg" alt="image description"
                                                class="img-responsive"></a>
                                    </div>
                                    <div class="txt-holder">
                                        <h3><a href="#">Vel Illum Qui Dolore Eum Fugiat</a></h3>
                                        <ul class="list-unstyled news-nav">
                                            <li>By <a href="#">Admin</a></li>
                                            <li>|</li>
                                            <li><time datetime="2017-02-03 20:00">Sep 07, 2017</time></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <!-- Widget of the page -->
                        <section class="widget tags-widget">
                            <h3 class="heading4">Popular Tags</h3>
                            <ul class="list-unstyled tags-list text-center">
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Watches</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Beauty &amp; Fitness</a></li>
                                <li><a href="#">Fashion</a></li>
                            </ul>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>