<!-- main of the page -->
<main id="main">
    <!-- banner of the page -->
    <section class="banner banner3 bg-full overlay" style="background-image: url(/user/images/img30.png);">
        <div class="holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="" style="color: #ffb300;">Latest News</h2>
                        <h1>Study discount</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- twocolumns of the page -->
    <div class="twocolumns pad-top-lg pad-bottom-lg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- content of the page -->
                    {{!-- <article id="content"> --}}
                        <!-- post block of the page -->
                        <div class="post-block">
                            <div class="img-holder">
                                <a href="/blog-details"><img src="/user/images/img49.jpg" alt="image description"
                                        class="img-responsive"></a>
                                <time class="time text-center" datetime="2018-02-03 20:00">12 <span>Sep</span></time>
                            </div>
                            <div class="txt-holder">
                                <h4 class="heading3"><a href="/blog-details">Sed ut perspiciatis unde omnis iste
                                        natus error sit voluptatem</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat uis aute irure
                                    dolor in reprehenderit voluptate.</p>
                                <a href="/blog-details" class="btn-primary text-center text-uppercase">read more</a>
                            </div>
                        </div>
                        <!-- pagination of the page -->
                        <ul class="list-unstyled pagination">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                        {{!--
                    </article> --}}
                </div>
            </div>
        </div>
    </div>
</main>