<!-- main of the page -->
<main id="main">
  <!-- banner of the page -->
  <section class="banner banner3 bg-full overlay" style="background-image: url(/user/images/img30.jpg);">
    <div class="holder">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>Contact</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact sec of the page -->
  <section class="contact-sec container pad-top-lg pad-bottom-lg">
    <div class="row">
      <header class="col-xs-12 header text-center">
        <h3 class="heading">Feel Free To Connect</h3>
        <p>Get in touch with our team</p>
      </header>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <!-- contact list of the page -->
        <ul class="list-unstyled contact-list">
          <li>
            <span class="icon icon-location"></span>
            <div class="align-left">
              <strong class="title">Study Discount</strong>
              <address>Casagrante Bldg, Kaloor, Eranakulam, Kerala, India</address>
            </div>
          </li>
          <li>
            <span class="icon icon-phone"></span>
            <div class="align-left">
              <strong class="title">Call Us</strong>
              <span class="tel"><a href="tel:+917907402599">+91 790 740 25 99</a>
              </span>
            </div>
          </li>
          <li>
            <span class="icon icon-email"></span>
            <div class="align-left">
              <strong class="title">Email Address</strong>
              <span class="mail">
                <a href="mailto:mail@study.discount">mail@study.discount</a>
              </span>
            </div>
          </li>
        </ul>
        <!-- contact form of the page -->
        <form action="#" class="contact-form">
          <fieldset>
            <div class="form-group">
              <div class="col">
                <label for="name">Name <span class="clr">*</span></label>
                <input type="text" id="name" class="form-control" />
              </div>
              <div class="col">
                <label for="email">Email Address
                  <span class="clr">*</span></label>
                <input type="email" id="email" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <div class="col">
                <label for="tel">Phone <span class="clr">*</span></label>
                <input type="tel" id="tel" class="form-control" />
              </div>
              <div class="col">
                <label for="sub">Subject</label>
                <input type="text" id="sub" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label for="msg">Your Message <span class="clr">*</span></label>
              <textarea name="message" id="msg"></textarea>
            </div>
            <button type="submit" class="btn-primary text-uppercase text-center">Send Message</button>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
  <!-- map holder of the page -->
  <div class="map-holder">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.2139352428667!2d76.29499817481036!3d9.999179573049288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080dde7d6fc535%3A0x9fcc3da26a935ab2!2sSuperio%20Digital%20Solutions!5e0!3m2!1sen!2sin!4v1693909150272!5m2!1sen!2sin"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</main>
<!-- main of the page end -->