<!-- main of the page -->
<main id="main">
  <!-- banner of the page -->
  <section
    class="banner banner3 bg-full overlay"
    style="background-image: url(/main-images/study-discount-about-us.png);"
  >
    <div class="holder">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>Submit Coupon</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- twocolumns of the page -->
  <div class="pad-top-lg pad-bottom-lg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- Content of the page -->
          <article id="content">
            <!-- header content of the page -->
            <header class="header-content">
              <h2 class="heading3">Submit Your Coupon</h2>
              <p><i>Fill the form to list your Coupon now!</i></p>
            </header>
            <!-- Sub Form of the page -->
            <form action="#" class="sub-form">
              <fieldset>
                <div class="form-group">
                  <div class="col">
                    <label for="text">First Name
                      <span class="clr">*</span></label>
                    <input type="text" id="text" class="form-control" />
                  </div>
                  <div class="col">
                    <label for="text2">Last Name
                      <span class="clr">*</span></label>
                    <input type="text" id="text2" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col">
                    <label for="email">Email Address
                      <span class="clr">*</span></label>
                    <input type="email" id="email" class="form-control" />
                  </div>
                  <div class="col">
                    <label for="phone">Phone <span class="clr">*</span></label>
                    <input type="tel" id="phone" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="store">Store Name
                    <span class="clr">*</span></label>
                  <input type="text" id="store" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="abt">About Your Store
                    <span class="clr">*</span></label>
                  <textarea id="abt"></textarea>
                </div>
                <div class="form-group">
                  <input type="file" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="address">Store Address
                    <span class="clr">*</span></label>
                  <textarea id="address"></textarea>
                </div>
                <div class="form-group">
                  <div class="col">
                    <label for="city">City <span class="clr">*</span></label>
                    <input type="text" id="city" class="form-control" />
                  </div>
                  <div class="col">
                    <label for="state">State <span class="clr">*</span></label>
                    <input type="text" id="state" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col">
                    <label for="country">Country
                      <span class="clr">*</span></label>
                    <input type="text" id="country" class="form-control" />
                  </div>
                  <div class="col">
                    <label for="zip">Postcode/Zip
                      <span class="clr">*</span></label>
                    <input type="text" id="zip" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="msg">Message To Your Customer</label>
                  <textarea id="msg"></textarea>
                </div>
                <button class="btn-primary text-center text-uppercase">Submit
                  Details</button>
              </fieldset>
            </form>
          </article>
      </div>
    </div>
  </div>
</main>
<!-- main of the page end -->