<!-- main of the page -->
		<main id="main">
			<!-- banner of the page -->
			<section class="banner banner3 bg-full overlay" style="background-image: url(/user/images/img30.jpg);">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 text-center">
								<h1>Offers</h1>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- offer sec of the page -->
			<section class="offer-sec container pad-top-lg pad-bottom-md">
				<div class="row">
					<div class="col-xs-12">
						<!-- offer holder of the page -->
						<div class="offer-holder">
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo11.png" alt="logo" class="img-responsive"></div>
									<span class="offer">25% Off</span>
								</div>
								<strong class="heading6">Upto 15% + Extra 10% Off On <br class="hidden-xs">Sofa. Furniture &amp; Dining Tables</strong>
								<span class="sub-title">See all 12 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo12.png" alt="logo" class="img-responsive"></div>
									<span class="offer">25% Off</span>
								</div>
								<strong class="heading6">Upto 15% + Extra 10% Off On <br class="hidden-xs">Home &amp; Kitchen Appliances</strong>
								<span class="sub-title">See all 15 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo13.png" alt="logo" class="img-responsive"></div>
									<span class="offer">$100 Cashback</span>
								</div>
								<strong class="heading6">Upto 15% Off On Family <br class="hidden-xs">Tour Packages</strong>
								<span class="sub-title">See all 22 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo14.png" alt="logo" class="img-responsive"></div>
									<span class="offer">25% Off</span>
								</div>
								<strong class="heading6">Extra 10% Off On Men Appareals <br class="hidden-xs">Accessories</strong>
								<span class="sub-title">See all 12 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo15.png" alt="logo" class="img-responsive"></div>
									<span class="offer">$35 Cashback</span>
								</div>
								<strong class="heading6">Upto 25% Off On Beauty Spa <br class="hidden-xs">&amp; Massage For Women</strong>
								<span class="sub-title">See all 15 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo16.png" alt="logo" class="img-responsive"></div>
									<span class="offer">25% Off</span>
								</div>
								<strong class="heading6">Extra 15% Off On Electronics <br class="hidden-xs">&amp; Kitchen Appliances</strong>
								<span class="sub-title">See all 22 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo08.png" alt="logo" class="img-responsive"></div>
									<span class="offer">25% Off</span>
								</div>
								<strong class="heading6">Extra 10% Off On Men Appareals <br class="hidden-xs">Accessories</strong>
								<span class="sub-title">See all 12 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo10.png" alt="logo" class="img-responsive"></div>
									<span class="offer">$35 Cashback</span>
								</div>
								<strong class="heading6">Upto 25% Off On Beauty Spa <br class="hidden-xs">&amp; Massage For Women</strong>
								<span class="sub-title">See all 15 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
							<!-- col of the page -->
							<div class="col mar-bottom-xs">
								<div class="header">
									<div class="c-logo"><img src="/user/images/logo05.png" alt="logo" class="img-responsive"></div>
									<span class="offer">25% Off</span>
								</div>
								<strong class="heading6">Extra 15% Off On Electronics <br class="hidden-xs">&amp; Kitchen Appliances</strong>
								<span class="sub-title">See all 22 Coupay Offers</span>
								<div class="text-center">
									<a href="coupon-detail.html" class="btn-primary text-center text-uppercase md-round">view coupon <span class="code">18FX</span></a>
									<time class="time" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- pagination of the page -->
						<ul class="list-unstyled pagination">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
						</ul>
					</div>
				</div>
			</section>
		</main>
		<!-- main of the page end -->