<div class="tc-main-container">
    <div class="tc-sub-container">
        <div>
            <h1 class="">Study Discount privacy policy</h1>
        </div>
        <div class="tc-main-points">
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div> Categories of Personal Information We Collect About You</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div> How We Use Your Information and The Basis on Which We Use It</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div> How We Disclose the Information We Collect</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Our Use of Cookies and Related Technologies</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Offer Availability Cancellation And Changes</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Online Behavioural Advertising (OBA) and How to Opt-Out Of OBA</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Your Privacy Choices and Rights; Submitting Requests Under Applicable </div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Local Laws </div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Opt-Out of Marketing Communications</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Security of My Information</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Third Party Links</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Be Careful Publicly Posting Personal Information</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>International Transfers</div>
            </div>
            <div class="tc-points">
                <div><i class="fa-solid fa-hourglass-start"></i></div>
                <div>Contact Us</div>
            </div>
        </div>
    </div>
</div>