<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy-poliocy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>
        .tc-main-container {
            width: 90%;
            margin: 0 auto;

        }

        .tc-sub-container {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
        }

        .tc-points {
            display: flex;
            column-gap: 10px;
        }

        .tc-main-points {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        .tc-main-heading {
            font-weight: bolder;
        }

        .tc-header {
            background-color: black;
            margin-top: 0;
            padding: 0;
            height: 80px;
        }

        .tc-footer {
            background-color: black;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding-left: 70px;
        }

        .tc-footer-point {
            color: white;
            padding: 20px 20px;

        }

        .tc-sub-container {
            padding: 50px 0;
        }
    </style>

</head>

<body>
    <div class="tc-main-container">
        <div class="tc-sub-container">
            <div>
                <h2 class="tc-main-heading">Study Discount privacy policy</h2>
            </div>
            <div class="tc-main-points">
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div> Categories of Personal Information We Collect About You</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div> How We Use Your Information and The Basis on Which We Use It</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div> How We Disclose the Information We Collect</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Our Use of Cookies and Related Technologies</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Offer Availability Cancellation And Changes</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Online Behavioural Advertising (OBA) and How to Opt-Out Of OBA</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Your Privacy Choices and Rights; Submitting Requests Under Applicable </div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Local Laws </div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Opt-Out of Marketing Communications</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Security of My Information</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Third Party Links</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Be Careful Publicly Posting Personal Information</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>International Transfers</div>
                </div>
                <div class="tc-points">
                    <div><i class="fa-solid fa-hourglass-start"></i></div>
                    <div>Contact Us</div>
                </div>
            </div>

        </div>

    </div>
    <footer class="tc-footer">
        <span class="tc-footer-point">
            <p>© 2023 All rights reserved. Product by <a style="color: orange; " href="https://superiodigital.com/"
                    target="_blank"> Superio Digital Solutions</a></p>
        </span>
    </footer>

</body>

</html>